.App {
  color: #282c34;
  max-width: 500px;
  border: 1px solid red;
  margin: 0 auto;
  padding: 1rem;
  max-height: 595px;
}

.App__button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 0.5rem;
  font-size: inherit;
}
.App__button:focus {
  box-shadow: 0 0 .5rem blueviolet;
  outline: none;
}
